/*
Theme Name: Get Property Reports Blog
Theme URI: http://getpropertyreports.com
Description: Get Property Reports Child Theme for the Blog
Author: Get Property Reports
Author URI: http://getpropertyreports.com
Template: shapely
Version: 0.1
*/

@import url("../shapely/style.css");

@font-face {
  font-family: 'franklin-gothic-urw';
  src: url('inc/fonts/ITC_Franklin_Gothic_LT_Medium.ttf'),
       url('inc/fonts/ITC_Franklin_Gothic_LT_Medium.ttf'),
       url('inc/fonts/ITC_Franklin_Gothic_LT_Heavy.ttf'),
       url('inc/fonts/ITC_Franklin_Gothic_LT Heavy_Italic.ttf');
}

html {
  font-family: 'franklin-gothic-urw', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "franklin-gothic-urw", sans-serif;
}

.page-title-section{
  display: none;
}

.wp-post-image {
    width: 100%;
}

.post-meta{
  list-style: none;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.navbar-custom .navbar-brand {
  font-weight: 800; }

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px; }

  .link-blue {
    color: #0085a1;
  }

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent; }

  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px; }

    .nav-bar a{
      height: auto;
    }

    #menu-item-16 a{
      color: #0085a1 !important;
    }

    input[type="submit"]{
      background-color: #5cb2eb;
      color: #fff;
      border-color: #5cb2eb;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -o-transition: 0.2s;
      -moz-transtion: 0.2s;
    }

    input[type="submit"]:hover{
      background-color: #fff;
      color: #5cb2eb;
      border-color: #fff;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -o-transition: 0.2s;
      -moz-transtion: 0.2s;
    }

    .comment-reply{
      color: #fff;
      background-color: #5cb2eb;
      border-color: #5cb2eb;
    }

    .comment-reply:hover{
      color: #5cb2eb;
      background-color: #fff;
      border-color: #fff;
    }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8); }

  .navbar-custom .nav li a {
    color: white;
    padding: 20px; }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8); } }
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -70px;
    background-color: #fff;
    opacity: 0.8;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }

  .navbar-custom.is-fixed .navbar-brand {
    color: #404040; }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1; }

  .navbar-custom.is-fixed .nav li a {
    color: #404040; }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1; } }

  .nav-bar {
    height: 100%;
    max-height: 100%;
    line-height: 2;
    width: 100%;
    padding: 0 35px;
  }

  .logo {
    max-height: 100%;
    padding: 10px 0 0 0;
  }

  .nav-bar .row {
    padding: 0 0 1em 0;
  }

  .menu {
    padding: 1.7em 0 0 0;
  }

  .menu li a {
    font-size: 14px;
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: bold;
  }

  .menu li a:hover {
    color: #0085a1;
  }

  .menu > li {
      margin: 0 10px 0 10px;
      float: left;
      position: relative;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      opacity: 1;
  }

  i.fa.fa-bars{
    color: #fff;
    opacity: 1;
    top: 4px;
    position: relative;
    line-height: 0 !important;
    font-weight: 300;

  }

  .nav-bar .module-group{
    padding: 0 !important;
  }

  .module.widget-handle.mobile-toggle.right.visible-sm.visible-xs {
    margin-top: 12px;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #5f87ab;
}

  .menu-item-9 {
    background-color: #5cb2eb;
  }

  .menu-item-9 a {
    font-weight: bold;
    height: auto;
    padding: 0 10px;
    opacity: 1 !important;
    color: #fff !important;
  }

  .menu-item-9 a:hover {
    color: #0085a1 !important;
  }

  .menu-item-9:hover {
    background-color: #fff;
    color: #0085a1 !important;
  }

/* Footer */

footer {
  padding: 4em 25px;
  background-color: #fff;
  font-size: 14px;
  border-top: 1px solid #3d3d3d;
}
footer .footer-all-wrap {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "franklin-gothic-urw", sans-serif;
}
footer .footer-left-wrap {
  float: left;
  width: 30%;
}
footer .footer-left-wrap .footer-logo {
  padding: 2em 0 0 0;
  width: 80%;
}
footer .footer-right-wrap {
  position: relative;
  float: right;
  width: 70%;
  font-family: "Gotham", sans-serif;
}
footer .footer-right-wrap:after {
  position: absolute;
  content: '';
  top: 0;
  left: -4%;
  width: 3px;
  height: 100%;
  background-color: black;
}
footer .footer-right-wrap .footer-header {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  padding: 0 0 0 10px;
}
footer .footer-right-wrap .footer-text {
  margin: 0;
  font-size: 14px;
  padding: 0 20px 0 10px;
}
footer .footer-right-wrap .copyright {
  text-align: left;
  margin: 0;
  padding: 0 0 0 10px;
}
footer .footer-right-wrap .footer-list {
  list-style-type: none;
  padding: .5em 0;
}
footer .footer-right-wrap .footer-list li {
  display: inline-block;
}
footer .footer-right-wrap .footer-list li a {
  position: relative;
  padding: 0 10px;
  border-right: 2px solid black;
  color: #5f87ab;
}

ol, ul {
  margin: 0;
}

/* 404 Page */

section.error-404.not-found{
  border: none;
}
section.error-404.not-found h1, section.error-404.not-found p {
  text-align: center;
}

section.error-404.not-found .btn.searchsubmit{
  margin: 0;
}

section.error-404.not-found .btn.searchsubmit:hover{
  background-color: #fff;
  color: #5cb2eb;
}


/* Media Queries */

/* extra small */
@media only screen and (max-width : 480px) {

}

/* small */
@media only screen and (max-width : 637px) {

  footer {
    text-align: center;
    padding: 10px 25px;
  }

  footer .footer-left-wrap {
    float: none;
    width: auto;
  }

  footer .footer-right-wrap {
    float: none;
    width: auto;
  }

  footer .footer-right-wrap:after {
    display: none;
  }

  footer .footer-right-wrap .footer-header {
    padding: 10px 0;
  }
  footer .footer-right-wrap .footer-text {
    padding: 10px 0;
  }

  footer .footer-right-wrap .footer-list {
    font-size: 12px;
  }

  footer .footer-right-wrap .copyright {
    text-align: center;
    font-size: 10px;
  }
}

/* medium */
@media only screen and (max-width : 867px) {

}

/* big */
@media only screen and (max-width : 1046px) {

}

/* large */
@media only screen and (max-width : 1200px) {

}
